# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
  batch: true
  branches:
    include:
    - master
    - feature/*
    exclude:
    - gh-pages

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'Windows-latest'

    variables:
      solution: '**/src/*.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'

    steps:

    - task: NuGetToolInstaller@1
      inputs:
        versionSpec: '5.5.1'

    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk 5.0'
      inputs:
        packageType: sdk
        version: 5.0.100

    - task: DotNetCoreCLI@2
      displayName: Build
      inputs:
        command: build
        projects: '$(solution)'
        arguments: '--configuration $(buildConfiguration) /p:Platform="$(buildPlatform)"'

    - task: CopyFiles@2
      displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: |
          **\bin\$(buildConfiguration)\*.nupkg
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        flattenFolders: true

    - publish: $(Build.ArtifactStagingDirectory)
      artifact: drop

    - task: NuGetCommand@2
      displayName: 'Publish to wpf-notifyicon feed'
      condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
      inputs:
        command: 'push'
        versioningScheme: byBuildNumber
        packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
        nuGetFeedType: 'internal'
        publishVstsFeed: '941c79f1-9c6d-429b-b1a2-32150f672910/4ecb6591-758f-46ad-ace7-a5505d87eee1'
